header{
    float:left;
    position: fixed;
    background-color:white;
}
img{
    margin-top:35px;
    float:left;
}
ul{
    list-style: none;
    float: left;
    font-family:タイムマシンわ号;
    font-size:25px;
}
li{
    float: left;
    margin-right:40px;
    margin-top:20px;
    border-bottom:2px solid orange;
}
.Twitter{
    margin-right:30px;
}
.main h1{
    margin-top: 80px;
    margin-left:66px;
    font-size:109px;
    font-family:游明朝;
    float:left;
}
.main p{
    font-family:タイムマシンわ号;
    font-size:54px;
    padding-left:166px;
    float:left;
    margin-top:0px;
    padding-top:0px;
}
.main img{
    float:right;
    margin-right:70px;
    margin-top:160px;
    padding-top:0px;
}
.news h1{
    float:left;
    font-family:タイムマシンわ号;
    font-size:60px;
    margin-right:308px;
    margin-left:70px;
    border-bottom:2px solid orange;
}
.news h2{
    float:right;
    font-family:タイムマシンわ号;
    font-size:35px;
    margin-right:258px;
    margin-left:70px;
}
